{% if not conn_summary_image_key %}
{% set conn_summary_image_key = 'orig_conn_summary_image' %}
{% endif %}
{% if enrichments['orig_conn_summary_image'] %}
## Connection graph

The following is a graphical depiction of all the connections.

![Connection summary {{conn_summary_image_key}}]({{enrichments['orig_conn_summary_image']}})

{% endif %}
