{% if not conn_summary_key %}
{% set conn_summary_key = 'orig_conn_connections' %}
{% endif %}
{% if enrichments[conn_summary_key] %}
# Connections Summary

The following summarizes the connections to and from
{% if conn_src %}{{conn_src}}{% else %}{{row['id_orig_h']}}{% endif %}
and other hosts during the captured time window,
along with the destination port numbers used.

{% set conn_summary_image_key = 'orig_conn_summary_image' %}
{% include 'example-reports/conn-graph.j2' %}

{% set conn_summary_image_key = 'resp_conn_summary_image' %}
{% include 'example-reports/conn-graph.j2' %}

## Destination port breakdown

{% for port in enrichments[conn_summary_key]['ports'] %}
+ {{port}}: {{enrichments[conn_summary_key]['ports'][port]}}
{%- endfor %}

## Connections breakdown

{% for orig in enrichments[conn_summary_key]['connections'] %}
{% if enrichments[conn_summary_key]['connections'][orig].keys()|length == 1 and enrichments[conn_summary_key]['connections'][orig].keys()[0]|length == 1 %}
{%- for dest in enrichments[conn_summary_key]['connections'][orig] %}
{%- for port in enrichments[conn_summary_key]['connections'][orig][dest] %}
    + {{orig}} => {{dest}} / port={{port}}: {{enrichments[conn_summary_key]['connections'][orig][dest][port]}}
{%- endfor %}
{%- endfor %}
{%- else %}
+ {{orig}}
{%- for dest in enrichments[conn_summary_key]['connections'][orig] %}
{%- for port in enrichments[conn_summary_key]['connections'][orig][dest] %}
    + {{dest}} / port = {{port}}: {{enrichments[conn_summary_key]['connections'][orig][dest][port]['count']}}, rx = {{enrichments[conn_summary_key]['connections'][orig][dest][port]['rxbytes']}} B, tx = {{enrichments[conn_summary_key]['connections'][orig][dest][port]['txbytes']}} B
{%- endfor %}
{%- endfor %}
{%- endif %}
{%- endfor %}

{% endif %}
