{% if enrichments.dns_summary %}
# DNS Requests Summary

The following summarizes the dns requests made by
{% if conn_src %}{{conn_src}}{% else %}{{row['id_orig_h']}}{% endif %}
captured during the time window.

{% for request in enrichments.dns_summary %}
+ {{request}}: {{enrichments.dns_summary[request]}}
{% endfor %}
{% endif %}
