--------------------------
row
{% for item in row %}
+ {{item}}: {{row[item]}}
{%- endfor %}
--------------------------
matches
{% for item in match %}
+ {{item}}: {{match[item]}}
{%- endfor %}
--------------------------
enrichments
{% for enrichment in enrichments %}

# {{enrichment}}
{% for record in enrichments[enrichment] %}
{% if record is mapping %}
Mapping:
{% for item in record %}
+ {{item}}: {{record[item]}}
{%- endfor %}
{% elif record is sequence %}
Sequence:
{% for item in record %}
+ {{item}}
{%- endfor %}
{% else %}
Unknown:
{{enrichments[record]}}
{% endif %}
{%- endfor %}

{%- endfor %}

