--------------------------
row
{% for item in row %}
+ {{item}}: {{row[item]}}
{%- endfor %}
--------------------------
matches
{% for item in match %}
+ {{item}}: {{match[item]}}
{%- endfor %}
--------------------------
enrichments
{% for enrichment in enrichments %}

# {{enrichment}}

{% if enrichments[enrichment] is mapping %}
{%- for record in enrichments[enrichment] %}
{%- if record is mapping %}
Mapping:
{% for item in record %}
+ {{item}}: {{record[item]}}
{%- endfor %}
{% elif enrichments[enrichment][record] is sequence %}
+ {{record}}: {{enrichments[enrichment][record]}}
{%- else %}
+ {{record}}: {{enrichments[enrichment][record]}}
{%- endif %}
{%- endfor %}
{%- else %}
{{enrichments[enrichment]}}
{%- endif %}
{%- endfor %}
