{% if enrichments.ssh|length > 0 %}

# Related SSH logs

The following bro ssh log entries are related to the original query,
because the IP address that made the query ({{row.id_resp_h}}) also
made these queries during a time window.

{% set rawbro_data = enrichments.ssh %}
{% include 'example-reports/raw-bro-rows.j2' %}

{% endif %}
