{% if enrichments.ftp|length > 0 %}

## Related FTP logs

The following bro ftp log entries are related to the original query,
because the internal IP address related to this event
({{row.id_resp_h}}) also made these queries during a 4 minute time
window.

{% set rawbro_data = enrichments.ftp %}
{% include 'example-reports/raw-bro-rows.j2' %}

{% endif %}
