{% if enrichments.conn|length > 0 %}

# Related CONN logs

The following bro conn log entries are related to the original query,
because the IP address that made the query ({{match.id_resp_h}}) also
made these queries during a time window.

{% set rawbro_data = enrichments.conn %}
{% include 'example-reports/raw-bro-rows.j2' %}

{% endif %}
