{% if enrichments.sans_info %}

### Additional information from SANS data

The following information is provided by SANS (an external resource) about {{row.id_orig_h}}:

+ AS: {{enrichments.sans_info.ip.as}}
+ AS NAME: {{enrichments.sans_info.ip.asname}}
+ AS COUNTRY: {{enrichments.sans_info.ip.ascountry}}
+ network: {{enrichments.sans_info.ip.network}}
+ abuse contact: {{enrichments.sans_info.ip.asabusecontact}}
{% if enrichments.sans_info.ip.comment %}
+ comment: {{enrichments.sans_info.ip.comment}}
{% endif %}
+ last seen: {{enrichments.sans_info.ip.maxdate}}
+ last update: {{enrichments.sans_info.ip.updated}}

{% if enrichments.sans_info.ip.threatfeeds %}
#### Threat information

{% for threat in enrichments.sans_info.ip.threatfeeds %}
+ {{enrichments.sans_info.ip.threatfeeds[threat]}}
    + firstseen: {{enrichments.sans_info.ip.threatfeeds[threat].firstseen}}
    + lastseen: {{enrichments.sans_info.ip.threatfeeds[threat].lastseen}}
{% endfor %}
{% endif %}

{% endif %}

